.font{
  font-size:10px;
}
.header{
  padding: 60px;
  text-align: center;
  background:grey;
  color: white;
  font-size: 30px;
}
.grid-container{
  display: grid;
  grid-template-columns: 50% 50%;

}
